<?xml version="1.0" encoding="UTF-8"?>
<launch>

	<!-- define arguments --> 
  <arg name="world" default="empty"/> 
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  
	<!-- use gazebo's default empty world --> 
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find romi_gazebo)/worlds/romi-leader.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

	<!-- ros_control Egypt launch file -->
  <include file="$(find romi_control)/launch/egypt_control.launch" />

  <!-- define parameters --> 
  <param name="robot_description" textfile="$(find robot_description)/models/Romi_Egypt/model.urdf"/>

  <param name="robot_description" textfile="$(find robot_description)/models/Romi_Brook/model.urdf"/>

  <param name="robot_description" textfile="$(find robot_description)/models/Romi_Calumet/model.urdf"/>

	<!-- send fake joint values and control the joints via GUI (add param use-gui and set to true (before closing node tag) if you want to use GUI --> 
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>

  <!-- publish the joint_states to /tf tree --> 
  <!--node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
    <param name="publish_frequency" type="double" value="50.0" />
  </node-->
  
  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="egypt_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
   args="-urdf -x 1.31402 -y 6.02416 -z 0.010755 -R -6e-06 -P -0.004888 -Y -0.023382 -param robot_description -model Egypt" />

  <node name="brook_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-file $(find robot_description)/models/Romi_Brook/model.urdf -urdf -x -4.12421 -y -0.108232 -z 0.010823 -R -5.2e-05 -P -0.004937 -Y -0.022898 -model Brook"/>

  <node name="calumet_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-file $(find robot_description)/models/Romi_Calumet/model.urdf -urdf -x 1.27157 -y -6.45823 -z 0.010744 -R -7e-06 -P -0.004883 -Y -0.024194 -model Calumet"/>

</launch>
